# Node modules
node_modules/

# Build output
dist/
build/

# Vite cache
.vite/

# Logs
*.log

# OS-specific
.DS_Store
Thumbs.db

# Environment files
.env
.env.local

# Editor folders
.vscode/
.idea/

# Python bytecode
__pycache__/
*.pyc

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# System files
*.swp

# React dev tools data
.local/

# Mac ._ files
._*
